
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container">
      <a class="navbar-brand" routerLink="/">Virtual Bookshelf</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed"
  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="collapseExample" [ngbCollapse]="!isCollapsed" class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <ng-template #annonymousUser>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      </ng-template>
      <li ngbDropdown *ngIf="auth.user$ | async as user; else annonymousUser" class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user.displayName }}</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/my-book-list">My List</a>
          <a class="dropdown-item" (click)="logout()"> Log Out</a>
        </div>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
  </div>
</nav>


