<div class="component">
    <ul class="align">
      <li>
        <figure class='book'>
  
          <!-- Front -->
  
          <ul class='hardcover_front'>
            <li>
              <div class="coverDesign blue">
                <h1>Create Your Virtual Bookshelf</h1>
              </div>
            </li>
            <li></li>
          </ul>
  
          <!-- Pages -->
  
          <ul class='page'>
            <li></li>
            <li>
                <button 
                (click)="login()"
                class="btn btn-secondary">Login with Google</button>
            </li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
  
          <!-- Back -->
  
          <ul class='hardcover_back'>
            <li></li>
            <li></li>
          </ul>
          <ul class='book_spine'>
            <li></li>
            <li></li>
          </ul>
        </figure>
      </li>
    </ul>
  </div>
  