#notRead {
  background-color: gray;
}

#want {
  background-color: FireBrick;
  border-color: darkred;
}

#finished {
  background-color: SteelBlue;
  border-color: darkblue;
}

#current {
  background-color: SeaGreen;
  border-color: darkgreen;
}

.container {
  text-align: center;
}

.card#outer{
  background-color: RebeccaPurple;
}

.card-header {
  background-color: MediumPurple;
}

.card#inner{
  background-color: MediumPurple;
}

button.remove {
  background-color: gray;
  border-color: darkgray;
}
