#notRead {
  background-color: gray;
}

#want {
  background-color: FireBrick;
  border-color: darkred;
}

#finished {
  background-color: SteelBlue;
  border-color: darkblue;
}

#current {
  background-color: SeaGreen;
  border-color: darkgreen;
}

.container {
  text-align: center;
}
