<div class="container">
  <div class="card">
    <div class="card-header"><h2>{{bookToDisplay?.title}}</h2></div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg">
          <div class="card">
            <div class="card-body">
              <h5>by {{bookToDisplay?.authors}}</h5>
              <h5>{{bookToDisplay?.pageCount}} pages</h5>
              <div *ngIf="bookToDisplay?.shelf == 'currentlyReading'">
                <p id="current">You are currently reading this book</p>
                <p (click)="moveBook(bookToDisplay, 'wantToRead')">Add to book to your 'Want To Read' shelf</p>
                <p (click)="moveBook(bookToDisplay, 'finishedReading')">Add this book to my 'Books I've Read' shelf</p>
                <p (click)="removeBook(bookToDisplay)">Remove this book from my shelves</p>
              </div>
              <div *ngIf="bookToDisplay?.shelf == 'wantToRead'">
                <p id="want">You want to read this book.</p>
                <p (click)="moveBook(bookToDisplaym, 'currentlyReading')">Add this book to my 'Currently Reading' shelf</p>
                <p (click)="moveBook(bookToDisplay, 'finishedReading')">Add this book to my 'Books I've Read' shelf</p>
                <p (click)="removeBook(bookToDisplay)">Remove this book from my shelves</p>
              </div>
              <div *ngIf="bookToDisplay?.shelf == 'finishedReading'">
                <p id="finished">You've read this book.</p>
                <p>Add a rating</p>
                <p>Add a review</p>
                <p (click)="removeBook(bookToDisplay)">Remove this book from my shelves</p>
                <p (click)="moveBook(bookToDisplay, 'wantToRead')">Add to book to your 'Want To Read' shelf</p>
                <p (click)="moveBook(bookToDisplay, 'currentlyReading')">Add this book to your 'Currently Reading' shelf</p>
              </div>
              <div *ngIf="bookToDisplay?.shelf == 'notRead'">
                <p id="notRead">You've haven't read this book yet.</p>
                <p (click)="moveBook(bookToDisplay, 'wantToRead')">Add to book to your 'Want To Read' shelf</p>
                <p (click)="moveBook(bookToDisplay, 'currentlyReading')">Add this book to your 'Currently Reading' shelf</p>
                <p (click)="moveBook(bookToDisplay, 'finishedReading')">Add this book to my 'Books I've Read' shelf</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg">
          <img src = {{bookToDisplay?.image}} weight=400px height="400px">
        </div>
      </div>
    </div>
  </div>
  <h5><a routerLink="../../my-book-list">Return to My Shelves</a></h5>
  <h5><a routerLink="/">Return to Book Search</a></h5>
</div>
