.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 20px; 
}

img#books {
    width: 450px;
    height: 250px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.container {
    text-align: center;
  }