

<div class="container">
  <h2>My Shelves</h2><br>
  <div class="row">

    <div class="col-lg-4">
      <div class="card">
        <div class="card-header" id="want"><h3>Want To Read</h3></div>
        <div class="card-body" id="want-shelf">
          <ul>
            <li *ngFor="let book of myBooks | async | shelf:filterByWantToRead">
              <div class="card">
                <div class="card-header" id="want"><h3>{{book.title}}</h3></div>
                <div class="card-body" id="want-book">
                  <h6>by {{book.authors}}</h6>
                  <h6>Progress: {{book.progress}}/{{book.pageCount}}</h6>
                  <p><ngb-progressbar type="info" [value]="book.progress" [max]="book.pageCount"></ngb-progressbar></p>
                  <img (click)="goToDetailPage(book)" src = {{book.image}} width=200px length=200px><br>
                  <button id="current" (click)="moveBook(book, 'currentlyReading', book.pageCount)">Move To My 'Currently Reading' Shelf</button>
                  <button id="finished" (click)="moveBook(book, 'finishedReading', book.pageCount)">Move To My 'Books I've Read' Shelf</button>
                  <button class="remove" (click)="removeBook(book)">Remove From My Shelves</button>
                </div>
              </div><br>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-header" id="current"><h3>Currently Reading</h3></div>
        <div class="card-body" id="current-shelf">
          <ul>
            <li *ngFor="let book of myBooks | async | shelf:filterByReading">
              <div class="card">
                <div class="card-header" id="current"><h3>{{book.title}}</h3></div>
                <div class="card-body" id="current-book">
                  <h6>by {{book.authors}}</h6>
                  <h6>Progress: {{book.progress}}/{{book.pageCount}}</h6>
                  <p><ngb-progressbar type="info" [value]="book.progress" [max]="book.pageCount"></ngb-progressbar></p>
                  <img (click)="goToDetailPage(book)" src = {{book.image}} width=200px length=200px><br>
                  <button id="want" (click)="moveBook(book, 'wantToRead', book.pageCount)">Move To My 'Want To Read' Shelf</button>
                  <button id="finished" (click)="moveBook(book, 'finishedReading', book.pageCount)">Move To My 'Books I've Read' Shelf</button>
                  <button class="remove" (click)="removeBook(book)">Remove From My Shelves</button>
                </div>
              </div><br>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-header" id="finished"><h3>Books I've Read</h3></div>
        <div class="card-body" id="finished-shelf">
          <ul>
            <li *ngFor="let book of myBooks | async | shelf:filterByFinished">
              <div class="card">
                <div class="card-header" id="finished"><h3>{{book.title}}</h3></div>
                <div class="card-body" id="finished-book">
                  <h6>by {{book.authors}}</h6>
                  <h6>Progress: {{book.progress}}/{{book.pageCount}}</h6>
                  <p><ngb-progressbar type="info" [value]="book.progress" [max]="book.pageCount"></ngb-progressbar></p>
                  <img (click)="goToDetailPage(book)" src = {{book.image}} width=200px length=200px>
                  <button id="want" (click)="moveBook(book, 'wantToRead', book.pageCount)">Move To My 'Want To Read' Shelf</button>
                  <button id="current" (click)="moveBook(book, 'currentlyReading', book.pageCount)">Move To My 'Currently Reading' Shelf</button>
                  <button class="remove" (click)="removeBook(book)">Remove From My Shelves</button>
                </div>
              </div><br>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <h5><a routerLink="/home">Return to Book Search</a></h5>
</div>
