<h2>My Shelves</h2>

<div class="container">
  <div class="row">

    <div class="col-lg" id="wantToReadShelf">
      <h3>Want To Read</h3>
      <ul>
        <li *ngFor="let book of myBooks | async | shelf:filterByWantToRead">
          <h3>{{book.title}}</h3>
          <h5>by {{book.authors}}, {{book.pageCount}} pages</h5>
          <img (click)="goToDetailPage(book)" src = {{book.image}} width=200px length=200px>
          <button (click)="moveBook(book, 'currentlyReading')">Move To My 'Currently Reading' Shelf</button>
          <button (click)="moveBook(book, 'finishedReading')">Move To My 'Books I've Read' Shelf</button>
          <button (click)="removeBook(book)">Remove From My Shelves</button>
        </li>
      </ul>
    </div>

    <div class="col-lg" id="currentlyReadingShelf">
      <h3>Currently Reading</h3>
      <ul>
        <li *ngFor="let book of myBooks | async | shelf:filterByReading">
          <h3>{{book.title}}</h3>
          <h5>by {{book.authors}}, {{book.pageCount}} pages</h5>
          <img (click)="goToDetailPage(book)" src = {{book.image}} width=200px length=200px>
          <button (click)="moveBook(book, 'wantToRead')">Move To My 'Want To Read' Shelf</button>
          <button (click)="moveBook(book, 'finishedReading')">Move To My 'Books I've Read' Shelf</button>
          <button (click)="removeBook(book)">Remove From My Shelves</button>
        </li>
      </ul>
    </div>

    <div class="col-lg" id="finishedReadingShelf">
      <h3>Books I've Read</h3>
      <ul>
        <li *ngFor="let book of myBooks | async | shelf:filterByFinished">
          <h3>{{book.title}}</h3>
          <h5>by {{book.authors}}, {{book.pageCount}} pages</h5>
          <img (click)="goToDetailPage(book)" src = {{book.image}} width=200px length=200px>
          <button (click)="moveBook(book, 'wantToRead')">Move To My 'Want To Read' Shelf</button>
          <button (click)="moveBook(book, 'currentlyReading')">Move To My 'Currently Reading' Shelf</button>
          <button (click)="removeBook(book)">Remove From My Shelves</button>
        </li>
      </ul>
    </div>

  </div>
</div>
<h5>Return to Book Search</h5>
