ul {
  padding: 0;
  list-style-type: none;
}

.container {
  text-align: center;
}

button.remove {
  background-color: gray;
  border-color: darkgray;
}

#want {
  background-color: FireBrick;
  border-color: darkred;
}

#finished {
  background-color: SteelBlue;
  border-color: darkblue;
}

#current {
  background-color: SeaGreen;
  border-color: darkgreen;
}

.card {
  border: none;
}

.card-body#finished-shelf {
  background-color: CornflowerBlue;
}

.card-body#finished-book {
  background-color: MediumSlateBlue;
}

.card-body#want-shelf {
  background-color: Tomato;
}

.card-body#want-book {
  background-color: IndianRed;
}

.card-body#current-shelf {
  background-color: MediumSeaGreen;
}

.card-body#current-book {
  background-color: MediumSpringGreen;
}



img {
  margin-bottom: 10px;
  border: solid 2px black;
}
