<h2>My Shelves</h2>

<div class="container">
  <div class="row">

    <div class="col-md" id="wantToReadShelf">
      <h3>Want To Read</h3>
      <ul>
        <li *ngFor="let book of myBooks | async | shelf:filterByWantToRead">
          <img src = {{book.thumbnailImage}}>
          <h3 (click)="goToDetailPage(book)">{{book.title}}</h3>
          <!-- link to buy book -->
          <button (click)="moveBook(book, 'currentlyReading')">Move To My 'Currently Reading' Shelf</button>
          <button (click)="moveBook(book, 'finishedReading')">Move To My 'Books I've Read' Shelf</button>
          <button (click)="removeBook(book)">Remove From My Shelves</button>
        </li>
      </ul>
    </div>

    <div class="col-md" id="currentlyReadingShelf">
      <h3>Currently Reading</h3>
      <ul>
        <li *ngFor="let book of myBooks | async | shelf:filterByReading">
          <img src = {{book.thumbnailImage}}>
          <h3 (click)="goToDetailPage(book)">{{book.title}}</h3>
          <button (click)="moveBook(book, 'wantToRead')">Move To My 'Want To Read' Shelf</button>
          <button (click)="moveBook(book, 'finishedReading')">Move To My 'Books I've Read' Shelf</button>
          <button (click)="removeBook(book)">Remove From My Shelves</button>
        </li>
      </ul>
    </div>

    <div class="col-md" id="finishedReadingShelf">
      <h3>Books I've Read</h3>
      <ul>
        <li *ngFor="let book of myBooks | async | shelf:filterByFinished">
          <img src = {{book.thumbnailImage}}>
          <h3 (click)="goToDetailPage(book)">{{book.title}}</h3>
          <!-- link to rate/review this book -->
          <button (click)="moveBook(book, 'wantToRead')">Move To My 'Want To Read' Shelf</button>
          <button (click)="moveBook(book, 'currentlyReading')">Move To My 'Currently Reading' Shelf</button>
          <button (click)="removeBook(book)">Remove From My Shelves</button>
        </li>
      </ul>
    </div>

  </div>
</div>
<h5>Return to Book Search</h5>
